<h1>Angles</h1>
<div>
Angles a represented as {{'<'}}angle{{'>'}}, which is a number followed by one of four unit type:
<ul>
  <li>deg - Degrees, 360 is a full circle</li>
  <li>grad - Gradians, there are 400 in a full circle.</li>
  <li>rad - Radians, there are 2π in a full circle</li>
  <li>turn - Turns, there is one in a full circle. This is most useful when animating rotation. </li>
</ul>
Angles are mostly used in 2D and 3D transformations.
</div>

<h1>Time and Frequency</h1>
<div>Time values are most often used in transitions and animations. They are either defined as duration or delay. for example: a[href] {{'{'}}transition-duration: 2.4s;{{'}'}}<br/>
</div>

<h1>Position</h1>
<div>
Position is used to specify where an image is placed. I may want to come back to this.
</div>

<h1>Custom Values</h1>
<div>You can define custom values for elements. Such as colors. I have been doing $colorName: #000000, but the book looks like you can do --colorName: #000000. <br/>
You would then use the custom value in your element declaration h1 {{'{'}} color: $colorName; {{'}'}} or from the book h1 {{'{'}} color: var(--colorName); {{'}'}} <br/>
Custom attributes can be context specific. These can be used for more then just colors</div>
