<h1>Keywords, Strings, and Other Text Values</h1>
<div>Everything in a stylesheet is text. Certain value types represent a sting of text these categorys include URLs and images</div>
<ul>
  <li><a (click)="scroll(keywords)" #keywords>Keywords</a></li>
  <li><a (click)="scroll(strings)">Strings</a></li>
  <li><a (click)="scroll(urls)">URLs</a></li>
  <li>Images</li>
  <li>Identifiers</li>
</ul>

<h2>Keywords</h2>
<div>
  A very common keyword is none, which is strinct from 0. None would remove the underline from links usings: <br/>
  a:link, a:visited {{'{'}}text-decoration: none;{{'}'}}<br/>
  To add the underline the keyword <i>underline</i>.<br/>
  <br/>
  If properties accept keywords, then the keywords will be defined for the scope of that property. Properties that share the same
  keywords may not have the same behavior in all properties. <i>Normal</i> for letter-spacing means something different as
  <i>normal</i> for font-style.
</div>
<h3>Global keywords</h3>
<div>CSS3 defines three keywords that are accepted by every property, <i>inherig, initial, </i> and <i>unset.</i></div>
<h4>inherit</h4>
<div>This will make the value of a property on an element the same as the value of the property on the parent element.
  In many cases you don't have to specify inherit. <br/><br/>
  Ordinariy, directly assigned styles will override inherited styles, but inherit will undo that behavior.<br/>
  You can also take a value and make it inherited. Borders aren't inherited for example, but you can add inherit to make it pull
  from the parent element.
</div>
<h4>initial</h4>
<div><i>initial</i> will set the value of a property to the defined initial value. Like a reset. For example, font-weigh is defaulted
to normal and declaring <i>fontweight: initial</i> is the same as declaring <i>fontweight: normal</i></div>
<h4>uset</h4>
<div>This will act like <i>initial</i> and <i>inherit</i></div>
<h4>all</h4>
<div><i>all</i> is the stand-in for all properties except direction and unicod-bidi. <i>all</i> tells all properties to use
 the parent values for example:
<ul  #strings>
  <li>section {{'{'}}color: white; background: black; font-weight: bold;{{'}'}}</li>
  <li>#example {{'{'}}all: inherit;{{'}'}}</li>
</ul><br/>
The <i>all</i> will force all properties below section and div with id of example to inherit.</div>

<h2 #urls>Strings</h2>
<div>
A string value is an arbitrary sequence of characters in quote marks. Some simple examples:
<ul>
  <li>'I like to play baseball'</li>
  <li>"I used to play a lot of baseball"</li>
</ul>
Quote marks are balanced, open and closed. If they aren't balanced there will be parsing issues. Begin and end with the same
mark, or you could have troubles. You can escape quotemarks inside quotemarks, or use the different type. For example:<br/>
'John came to me and said, "I have an issue."'<br/>
'There\'s never been a "string quartet" that I\'ve not like.'
</div>

<h2 id='urls'>URLs</h2>
<div>Section for URLs</div>

<h2 id='images'>Images</h2>
<div>Section for Images</div>

<h2 id='identifiers'>Identifiers</h2>
<div>Section for Identifiers</div>
