<h1>The Cascade</h1>
<div>What happens when two rules have the same specificity? There are a few rulse</div>
<ol>
  <li>Find all rules that contain a selector that matches a given element</li>
  <li>Sort all declarations applying to the given element by <i>explicit weight</i></li>
  <li>Sort all declarations applying to the given element by <i>origin</i></li>
  <li>Sort all declarations to the given element by <i>specificity</i></li>
  <li>Sort all declarations applying to the given element by <i>order.</i> The later a declaration appears in the style sheet or document, the more weight it is given. Declarations
    that appear in an imported style sheet are considered to come before all declarations within the style sheet that imports them.</li>
</ol>
