.first-letter::first-letter {
  color: red;
}

div.first-letter::first-letter {
  font-size: 200%
}

p.first-line::first-line {
  color: purple;
  font-size: 300%
}


body::after {content: "The End."; font-size: 400% }
