<body>
<h1>Pseudo Element Selectors</h1>

<h2>Styling the First Letter</h2>
<div class="first-letter">You can set the size of the first letter by doing
  .first-letter::first-letter {{'{'}} color: red;{{'}'}}</div>
<p class="first-line">You can also style the first line <br/>Does it work with a break?<br/>
This is done by p.first-line::first-line {{'{'}}  color: purple;  font-size: 300% {{'}'}}</p>

<h2>Before or after elements</h2>
<p>You can do this by doing body::after {{'{'}} content: "The End.";{{'}'}}</p>
</body>
