<h1>Inheritance</h1>
<div>Styles are applied to the decendents.<br/>
  h2 {{'{'}}color: gray;{{'}'}} <- This would be applied to elements decendent to H1
  <h2>Meerkat <em>Central (this is in an em tag)</em></h2></div>
<div>I knew inheritance was happening just never really though about it. Keep a few things in mind</div>
<ul>
  <li>Many properties are not inherited. For example, borders aren't inherited. This helps avoid undesirable outcomes. We don't want to have to turn off borders on all decendents of an object with a border.</li>
  <li>Inherited values have no specificity at all, not even zero specificity. Specificity will win over no specificity.</li>
</ul>
