h1 {
  color: silver;
}

.my-white {
  color: rgb(100%,100%,100%);
  background-color: rgb(0,0,0);
}

.my-black {
  color: rgb(0%,0%,0%);
  background-color: rgb(255,255,255);
}


a {
  color: blue;
  cursor: pointer;
}

.half-white {
  color: rgb(255,255,255,0.5);

}

.half-black {
  background-color: rgb(0,0,0,0.5);
}

.aqua {
  color: aqua;
}

.black {
  color: black;
}
.blue {
  color: blue;
}
.fuchsia {
  color: fuchsia;
}
.gray {
  color: gray;
}
.green {
  color: green;
}
.lime {
  color: lime;
}
.maroon {
  color: maroon;
}
.navy {
  color: navy;
}
.olive {
  color: olive;
}
.purple {
  color: purple;
}
.red {
  color: red;
}
.silver {
  color: silver;
}
.teal {
  color: teal;
}
.white {
  color: white;
}
.yellow {
  color: yellow;
}

p.one {color: hsl(0,50%,0%);}
p.two{color: hsl(60,50%,25%);}
p.three {color: hsl(120,50%,50%);}
p.four {color: hsl(180,50%,75%);}
p.five {color: hsl(240,50%,0%);}
p.six {color: hsl(300,50%,25%);}
p.seven {color: hsl(360,50%,50%);}
