<h1>Chapter Three - Specificy and the Cascade</h1>
<hr />
<div class="container">
  <div class="container-left">
    Sections:
    <div class="links">
      <a routerLink="./specificity" (click)="OnClick('specificity')" routerLinkActive="active">Specificity*</a>
      <a id="sub-section" *ngIf="expand === 'specificity'" routerLink="specificity/dands" routerLinkActive="active">Declarations and Specificity</a>
      <a id="sub-section" *ngIf="expand === 'specificity'" routerLink="specificity/universal" routerLinkActive="active">Universal Selector Specificity</a>
      <a id="sub-section" *ngIf="expand === 'specificity'" routerLink="specificity/idattribute" routerLinkActive="active">ID and Attribute Selector Specificity</a>
      <a id="sub-section" *ngIf="expand === 'specificity'" routerLink="specificity/inline" routerLinkActive="active">Inline Style Specificity</a>
      <a id="sub-section" *ngIf="expand === 'specificity'" routerLink="specificity/importance" routerLinkActive="active">Importance</a>
      <a routerLink="./inheritance" (click)="OnClick('none')" routerLinkActive="active">Inheritance</a>
      <a routerLink="./cascade" (click)="OnClick('cascade')" routerLinkActive="active">Cascade*</a>
      <a id="sub-section" routerLink="./cascade/weightAndOrigin" *ngIf="expand === 'cascade'" routerLinkdActive="active">Weight and Origin</a>
      <a id="sub-section" routerLink="./cascade/sort" *ngIf="expand === 'cascade'" routerLinkdActive="active">Sort by Specificity</a>

      <span class="footnote">*subsections will show when you click on the section</span>
    </div>
  </div>
  <div class="container-right">
    <router-outlet></router-outlet>
  </div>
</div>
