<h1>Chapter Three - Specificy and the Cascade</h1>
<hr />
<div class="container">
  <div class="container-left">
    Sections:
    <div class="links">
      <a routerLink="./specificity" routerLinkActive="active">Specificity</a>
      <a routerLink="./dands" routerLinkActive="active">Declarations and Specificity</a>
      <a routerLink="./universal" routerLinkActive="active">Universal Selector Specificity</a>
      <a routerLink="./idattribute" routerLinkActive="active">ID and Attribute Selector Specificity</a>
    </div>
  </div>
  <div class="container-right">
    <router-outlet></router-outlet>
  </div>
</div>
