<h1>Chapter Three - Specificy and the Cascade</h1>
<hr />
<div class="container">
  <div class="container-left">
    Sections:
    <div class="links">
      <a routerLink="./specificity" (click)="OnClick('true')" routerLinkActive="active">Specificity*</a>
      <a id="sub-section" *ngIf="expand" routerLink="specificity/dands" routerLinkActive="active">Declarations and Specificity</a>
      <a id="sub-section" *ngIf="expand" routerLink="specificity/universal" routerLinkActive="active">Universal Selector Specificity</a>
      <a id="sub-section" *ngIf="expand" routerLink="specificity/idattribute" routerLinkActive="active">ID and Attribute Selector Specificity</a>
      <a id="sub-section" *ngIf="expand" routerLink="specificity/inline" routerLinkActive="active">Inline Style Specificity</a>
      <a id="sub-section" *ngIf="expand" routerLink="specificity/importance" routerLinkActive="active">Importance</a>
      <a routerLink="./inheritance" (click)="OnClick('false')" routerLinkActive="active">Inheritance</a>

      <span class="footnote">* has subsections that will show when you click on the section</span>
    </div>
  </div>
  <div class="container-right">
    <router-outlet></router-outlet>
  </div>
</div>
