<h1>Distances</h1>
<div>Length is used in CSS in many properties. These include margins which depend on length measurements to display various elements correctly.<br/>
Length measurements must be positive or negative numbers followed by a label. All length measurements are followed by a short abbreviation which shows what unit should
be applied to the length.<br/>
Length units are divided into two types: absolute length units and relative length units.</div>
<ul>
  <li><a (click)="scroll(absolute)" #absolute>Absolute Length Units</a></li>
  <li><a (click)="scroll(resolution)">Resolution Units</a></li>
  <li><a (click)="scroll(relative)">Relative Length Units</a></li>
</ul>

<h2>Absolute Length Units</h2>
<div>There are six types of absolute length units, which are almost unusable in regurlar web design. These are:
  <ul>
    <li>Inches (in) - Inches just like used in the US...why though, I don't know since everyone else uses the metric system</li>
    <li>Centimeters (cm) - Include the rest of the world. 2.54 centimteres to an inch, and one centimeter equals 0.394 inches.</li>
    <li>Millimeters (mm) - One tenth of a centimeter</li>
    <li>Quarter-millimeters (q) - 4q is the same as one millimeter. Only Firefox supported this as of late 2016.</li>
    <li>Points (pt) - Used for printers and typwriters. Traditionally, there are 72 points to an inch.</li>
    <li>Picas (pc) - Another typographical term. there are 6 picas to an inch</li>
    <li>Pixels (px) - </li>
  </ul>
  Hmm...That is seven items, one more then six, but the book said six, so I'm leaving it.<br/>
  Absolute units are useful in defining stylesheets for printed documents.
</div>

<h3>Pixel Lengths</h3>
<div>Look closely and you may see the pixels (little boxes) in your screen. That box is a pixel.<br/>
Declaring <i>font-size: 18px;</i> will most likely actually use 18 pixels on your screen. Printers are a different story.<br/>
<span #resolution></span>Images are more important for pixels. The good thing is, agents have been getting pretty good at scaling routines.</div>

<h3>Pixel theory</h3>
<div>For resolutions with density significatntly different thatn 96 pixels per inch, user agents should scale pixels to a recommended ppi. CSS3 that is 96 ppi.</div>

<h2>Resolution Units</h2>
<div>Media queries brought new unit types:
  <ul>
    <li>Dots per inch (dpi) - the number of display dots per linear inch.</li>
    <li>Dots per centimerter (dpcm) - the number of display dots per linear centimeter</li>
    <li>Dots per pixel unit (dppx) - the number of display dots per CSS px unit. CSS3, 1dppx = 96dpi</li>
  </ul>
  These were only used in terms of media queries as of late 2017.
</div>

<h2 #relative>Relative Length Units</h2>
<div>Relative units are measured relative to other things, like screen resolution.</div>
<h3>em and ex units</h3>
<div>One "em" is defined as the font-size for a given font. If the font size of an element is 14 pixels, then for that element it is equal to 1em.<br/>
If you have an h1 element with 24px font-size, an h2 element with 18px font size, and a paragraph element with a 12px font size. When you set the margin left
of 1em, you will get left margins of 24px, 18px, and 12px, respectively.<br/>
One em is equal to the width of a lowercase <i>m</i> in the font used, that is where the name actually came from. But that is guaranteed in CSS.<br/>
ex refers to the height of a lowercase x in the font being used.</div>
<h3>The rem unit</h3>
<div>The <i>rem</i> unit is based on font size, not a band. <i>em</i> is calculated using the font size of the element which it is applied, <i>rem</i> <b>always</b>
is calcuated using the root element.<br/>
You can set a font size by doing html {{'{'}} font-size: 13px;{{'}'}}<br/>
This will always give 1rem a size of 13 for font-size. However if you do html {{'{'}} font-size: 75%;{{'}'}} you will get 1rem equal to 75% of the user's default font size.<br/>
You aren't restricted to 1rem. You can use any real number, same as em unit, so this will let you change the size for all your elements.</div>
<h3>The ch unit</h3>
<div>This is meant to represent one character and was added in CSS3. The actual definition is "Equal to the advance measure of the “0” (ZERO, U+0030) glyph found in the font used
  to render it." Essentially, this is from the start of the character to the end of the character is the measure of the character. This generally includes the width of the
glyph plus any built in space on the sides.</div>
<h3>Viewport-relative units</h3>
<div>Viewport units were also added in CSS3. These are calculated in repsect to the size of the viewport - browser window, printable area, etc. There are a view viewport units:
  <ol>
    <li>Viewport width unit (vw) - this is calculated in respect to the viewport's width. It is calculated by taking the viewport width and dividing it by 100. A viewport
      with a width of 937 would have 1vw = 9.37. Changing the width of the viewport would also change the size of 1vw.
    </li>
    <li>Viewport height unit (vh) - Same as width, except using height instead.</li>
    <li>Viewport minimum unit (vmin) - This is 1/100 of the viewport's width or height, whichever is lesser. If you had 937 pixels wide by 650 pixels tall 1vmin would be 6.5px</li>
    <li>Viewport maximum unit (vmax) - This is 1/100 of the viewport's width or height, whichever is greater. Give the example above you would have 1vmax = 9.37px.</li>
  </ol>
These length units can be used whereever they are allowed. These are useful when creating full-viewport interfaces, such as those for mobile devices, because the elements are allowed
to be sized in comparrison to the actual screen size.
</div>
