:enabled {font-weight: bold;}
:disabled {opacity: 0.5;}

input[type=checkbox] + label {
  color: #ccc;
}
input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}

input[type="checkbox"]:default + label { font-style: italic; }


input[required] { border: 1px solid #f00;}
input:optional { border: 1px solid purple;}


input[type="email"]:focus {
  background-position: 100% 50%;
  background-repeat: no-repeat;
  }
  input[type="email"]:focus:invalid {
  background-color: red;
  }
  input[type="email"]:focus:valid {
  background-color: green;
  }

input[type="number"]:invalid {color: red;}
input[type="number"]:valid {color: green;}
input[type="number"]:in-range {font-weight: bold;}
