<h1>Put some links to examples:</h1>
<a routerLink="/" routerLinkActive="active">Home</a>
<a routerLink="/simple" routerLinkActive="active">Simple Attributes</a>
<a routerLink="/exact" routerLinkActive="active">Exact Attributes</a>
<a routerLink="/partial" routerLinkActive="active">Partial Attributes</a>
<a routerLink="/document" routerLinkActive="active">Document Structure Attribuets</a>
<a routerLink="/pseudo" routerLinkActive="active">Pseudo Class Selectors</a>
<router-outlet></router-outlet>
