<h1 class="header">CSS Examples</h1>
  <div class="links">
    <a routerLink="/" routerLinkActive="active">Home</a>
    <a routerLink="/simple" routerLinkActive="active">Simple Attributes</a>
    <a routerLink="/exact" routerLinkActive="active">Exact Attributes</a>
    <a routerLink="/partial" routerLinkActive="active">Partial Attributes</a>
    <a routerLink="/document" routerLinkActive="active">Document Structure Attribuets</a>
    <a routerLink="/pseudo" routerLinkActive="active">Pseudo Class Selectors</a>
    <a routerLink="/dynamic" routerLinkActive="active">Dynamic Pseudo Class Selectors</a>
    <a routerLink="/uistate" reouterLinkActive="active">UI State Pseudo Class Selectors</a>
    <a routerLink="/pseudoelement" reouterLinkActive="active">Pseudo Element Selectors</a>
    <a routerLink="/chapterTwo" reouterLinkActive="active">Chapter Two</a>
  </div>
<router-outlet></router-outlet>
