@import "src/styles.scss";

.header {
  top: 0;
  position: fixed;
  background-color: $header-color;
  padding-bottom: 10px;
  width: 80%;
  max-height: $header-height;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  a {
    width: auto;
    margin-left: 15px;
  }
}


