<h1>Dynamic Pseudo Class Selectors</h1>
<h2>Hyperlink pseudo-class</h2>
<p>You can change these dynamically with the :link and :visited tags. :link has not been visisted and is a hyperlink.
  :visited is a link that has been visited based on browser history. You can have a place holder tag that doesn't have a link.
Make sure you don't fall into this trap.<br/>
a.external:link, a[href^="http"]:link {{'{'}} color: slateblue;{{'}'}} <- This will apply only to external links that have
not been visited</p>
<h2>User action pseudo-classes</h2>
These include:
  <ul>
    <li>:focus - Refers to any element that currently has the input focus a:focus {{'{'}}color: orange;{{'}'}}</li>
    <li>:hover - Refers to any element over which the mouse pointer is place a:hover {{'{'}}color: red;{{'}'}}</li>
    <li>:active - Refers to any element that has been activated by user input a:active {{'{'}}color: yellow;{{'}'}}</li>
  </ul>

  <a href="https://www.google.com" target="_blank">This is a link</a>

