<h1>Specificity</h1>
<p>There are three mechanisms to apply CSS, specificity, inheritance, and the cascade.<br/>
How do you know what rule wins out when there are multiple rules for one element?
The property declaration with the highest specificity will win out. </p>

<span>
  There are rules to get specificity. Rules are calculated and provide and output in the format 0,0,0,0. The rules are
  <ul>
    <li>For every ID attribute value given in the selector, add 0,1,0,0.</li>
    <li>For every class attribute value, attribute selection, or pseudo-class given in the selector, add 0,0,1,0.</li>
    <li>For every element and pseudo-element given in the selector, add 0,0,0,1.</li>
    <li>Combinators and the universal selector do not contribute anything to the specificity.</li>
  </ul>
  These rules combine to deteriming which item will win out. *There is a conflict resolution which will be written about later.
</span>

<div>
  <h3>Examples of the rules:</h3>
  <ul>
    <li>h1 {{'{'}}color: red;{{'}'}} /* specificity = 0,0,0,1 */</li>
    <li>body h1 {{'{'}}color: green;{{'}'}} /* specificity = 0,0,0,2 */</li>
  </ul>
  The body h1 will win because it has more specificity.
  <ul>
    <li>h2.graph {{'{'}}color: green{{'}'}} /* specificity = 0,0,1,1 */</li>
    <li>h2 {{'{'}}color:silver{{'}'}} /* specificity = 0,0,0,1 */</li>
  </ul>
  The h2.graph element will win with more specificity.
</div>

