<h1>Font Weights</h1>
<div>Here are the available font weights:
  <ul>
    <li>normal</li>
    <li>bold</li>
    <li>bolder</li>
    <li>lighter</li>
    <li>100</li>
    <li>200</li>
    <li>300</li>
    <li>400</li>
    <li>500</li>
    <li>600</li>
    <li>700</li>
    <li>800</li>
    <li>900</li>
  </ul>
The initial value will be normal and is inherited.</div>
<h2>How weights work</h2>

<h1>Font Size</h1>
<div>I'm moving pretty fast and not writing stuff down. Refer to the book for more info</div>
<h1>Font Style</h1>
<h1>Font Stretching</h1>
<h1>Font Kerning</h1>
<h1>Font Variants</h1>
<h1>Font Features</h1>
<h1>Font Synthesis</h1>
<h1>The font Property</h1>
<h1>Font Matching</h1>
