<h1 class="header">Chapter Two</h1>
  <div class="links">
    <a routerLink="./document" routerLinkActive="active">Document Structure Attributes</a>
    <a routerLink="./simple" routerLinkActive="active">Simple Attributes</a>
    <a routerLink="./exact" routerLinkActive="active">Exact Attributes</a>
    <a routerLink="./partial" routerLinkActive="active">Partial Attributes</a>
    <a routerLink="./pseudo" routerLinkActive="active">Pseudo Class Selectors</a>
    <a routerLink="./dynamic" routerLinkActive="active">Dynamic Pseudo Class Selectors</a>
    <a routerLink="./uistate" reouterLinkActive="active">UI State Pseudo Class Selectors</a>
    <a routerLink="./pseudoelement" reouterLinkActive="active">Pseudo Element Selectors</a>
  </div>
<router-outlet></router-outlet>
