<h1>Values and Units</h1>
The basis of what you can do in CSS. Need to understand the concepts of:
<ul>
  <li><a routerLink="/chapterFour/keywords" routerLinkdActive="active">Keywords, Strings, and Other Text Values</a></li>
  <li><a routerLink="/chapterFour/numbers" routerLinkdActive="active">Numbers and Percentages</a></li>
  <li><a routerLink="/chapterFour/distances" routerLinkdActive="active">Distances</a></li>
  <li><a routerLink="/chapterFour/calculation" routerLinkdActive="active">Calculation Values</a></li>
  <li><a routerLink="/chapterFour/attribute" routerLinkdActive="active">Attribute Values</a></li>
  <li>Color</li>
  <li>Angles</li>
  <li>Time and Frequency</li>
  <li>Position</li>
  <li>Custom Values</li>
</ul>

