.background-grey {
  background-color: gray;
}

h1 {
  text-align: center;
}

.container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.container-right {
  width: 85%;
}

.container-left {
  width: 15%;
  overflow: hidden;
}
