$background-color: #46B3B3;
$html-color: #005D5D;
$header-color: #009999;
$header-height: 110px;

.background-grey {
  background-color: gray;
}

html {
  width: 100%;
  background-color: $html-color;
}

html, body {
  height: 100% !important;
  margin: 0 !important;
}

#main-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.container-right {
  width: 85%;
  margin-left: 5px;
}

.container-left {
  margin-left: 5px;
  width: 15%;
  overflow: hidden;
  border-right: 1px solid #555555;
  min-height: 100vh - 25vh;
}

.body-width {
  background-color: $background-color;
  width: 100%;
  margin-top: $header-height - 1;
}

#sub-section {
  margin-left: 20px;
}

.footnote {
  margin-top: 20px;
  font-weight: lighter;
  font-size: 10px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;

  a {
    align-items: left;
    margin: 5px 0 0 10px
  }
}
