<h1>Descendant Selectors</h1>
<h2>This is <strong>very</strong> important</h2>
<h2>This is <em>really <strong>very</strong></em> important (but not red important).</h2>
<div>You can select only direct descendants of an element by doing h1 > strong {{'{'}} color: red; {{'}'}}</div>
<br/>
<h1>Selecting Adjacent Sibling Elements</h1>
<p>You are able to select an element directly following one element by using the + symbol. CSS would look like h1 + p {{'{'}}color: blue;{{'}'}}</p>
<p>The next paragraph tag will not be blue</p>

You can have multiple selectors such as ol + p + ul {{'{'}}color: orange;{{'}'}}

<div>
  <ol>
  <li>List item 1</li>
  <li>List item 1</li>
  <li>List item 1</li>
  </ol>
  <p>This is some text that is part of the 'div'.</p>
  <ul>
  <li>A list item</li>
  <li>Another list item</li>
  <li>Yet another list item</li>
  </ul>
  </div>


<h1>Selecting Following Siblings</h1>
<p>If element share the same parent you can make them have the same style by using ~ in th CSS h1 ~p {{'{'}} font-style: italic; {{'}'}} </p>
<div>All paragraphs should be italic</div>
<p>But that div above should not be</p>
