<h1>Numbers and Percentages</h1>
<div>Serve as a foundation for other value types, eg. font sizes can be defined using the em identifier preceded by a number. Let's define the numbers.</div>
<ul>
  <li><a (click)="scroll(integers)" #integers>Integers</a></li>
  <li><a (click)="scroll(numbers)">Numbers</a></li>
  <li><a (click)="scroll(percentages)">Percentages</a></li>
  <li><a (click)="scroll(fractions)">Fractions</a></li>
</ul>

<h2 #numbers>Integers</h2>
<div>Integer values are one or more numbers that are either positive or negative. Examples: 1, -598, 46, 10000, etc.<br/>
Integers that fall outside of a defined range will be considered invalid and cause the entire declaration to be ignored. Sometimes you can get a value outside the range to be accepted
 to the closest value in the declared range, this is known as clamping. If there is no restricted range, the users agent may accept values up to +-1,073,741,824.
 Pretty large number, hopefully you find a number in there that works!</div>

 <h2>Numbers</h2>
 <div>Number values can either be an integer or a real number. These can also be positive or negative. Some examples: 1.234, -4.321, etc. <br/>
Some properties only accept integers (z-index for example) where others only accelt real numbers (flex-grow). Number values can have limites imposed
on them, same as integers. For example, opacity restricts the number range to be between 0 and 1.</div>

 <h2 #percentages>Percentages</h2>
 <div>A percentage value is also a number followed by a percentage sign. Percentages are relatvie to another value. Any property that accepts percentage values will define any
   restrictions on the allowable range of allowed values.</div>

 <h2 #fractions>Fractions</h2>
 <div>A fraction value, also known as a flex value, is a number followed by the label fr. This was introduced by Grid Layout. More to come later</div>
